language: python
python:
  - "2.7"

env:
  - APPENGINE_VERSION=1.9.28
# command to install dependencies
install:
  - pip install -r requirements.txt -t lib

before_script:
- wget "https://storage.googleapis.com/appengine-sdks/featured/google_appengine_$APPENGINE_VERSION.zip" -nv
- unzip -q "google_appengine_$APPENGINE_VERSION.zip"
# command to run tests
script: python test_runner.py ~/google_appengine ./test
