<div>
  <div>
    {% macro render_field(field, placeholder=None) %}
      {% if field.errors %}
      <div>
      {% elif field.flags.error %}
      <div>
      {% else %}
      <div>
      {% endif %}
      {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
      {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
      </div>
    {% endmacro %}
    {% if form.errors %}
      <div>
      {% for field, error in form.errors.items() %}
        {% for e in error %}
          {{ e }}<br>
        {% endfor %}
      {% endfor %}
      </div>
    {% endif %}
    <form method="{{method}}" action="{{action}}" accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}
      {{ render_field(form.url, 'URL') }}
      {{ render_field(form.title, 'Title') }}
      {{ render_field(form.description, 'Description') }}
      {{ render_field(form.content, 'Content') }}
      {{ render_field(form.category, 'Category') }}
      {{ render_field(form.tags, 'Tags separated by comman') }}
      {{form.post_type.label}}{{ render_field(form.post_type, 'Post Type') }}
      {{form.post_status.label}}:{{ render_field(form.post_status, 'Post Status') }}
      <button type="submit" name="submit">Save</button>
    </form>
  </div>
</div>
