<div>
  <div>
    {% macro render_field(field, placeholder=None) %}
      {% if field.errors %}
      <div>
      {% elif field.flags.error %}
      <div>
      {% else %}
      <div>
      {% endif %}
      {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
      {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
      </div>
    {% endmacro %}
    {% if form.errors %}
      <div>
      {% for field, error in form.errors.items() %}
        {% for e in error %}
          {{ e }}<br>
        {% endfor %}
      {% endfor %}
      </div>
    {% endif %}
    <form method="{{method}}" action="{{action}}" accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}
      {{ render_field(form.url) }}
      {{ render_field(form.title) }}
      {{ render_field(form.description) }}
      {{ render_field(form.content) }}
      {{ render_field(form.category) }}
      {{ render_field(form.tags) }}
      {{ render_field(form.post_type) }}
      {{ render_field(form.post_status) }}
      <button type="submit" name="submit">Save</button>
    </form>
  </div>
</div>
